@import '../../../App/styles/variables';

$bg: #0069FF;

.toolbar {
  background: $bg;
}

.toolbar-brand {
  padding: .4rem 0;
}

.toolbar-item {
  display: inline-block;
  padding: .4rem;
  color: #8898aa;

  &:hover {
    color: $color-primary;
  }
}

.toolbar-form {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1 1 auto;
}

.toolbar-block {
  height: 48px;
  padding: 6px 0;
  display: flex;
  flex-direction: row;
}

.btn-toolbar {
  border-width: 0;
  background: linear-gradient(to bottom,rgba(#fff, 0.3) 0, rgba(#fff, 0.2) 100%);
  padding: 6px;
  cursor: pointer;
  min-width: 36px;
  min-height: 36px;
  color: #fff;

  &:hover {
    background: linear-gradient(to bottom,rgba(#fff, 0.4) 0, rgba(#fff, 0.3) 100%);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(#fff, .4);
  }

  &:active {
    box-shadow: none;
    background: rgba(#fff, .4);
  }


  + .btn-toolbar {
    margin-left: 6px;
  }

  &.iconed > .fa {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
}

.btn-toolbar-user {
  position: relative;
  padding-left: 44px;

  > .fa {
    margin-left: 5px;
  }
}

.btn-toolbar-avatar {
  float: left;
  border-radius: $border-radius 0 0 $border-radius;
  position: absolute;
  left: 0;
  top: 0;
  background: #eee;
  border: 0;
  overflow: hidden;

  &,
  > img {
    height: 36px;
    width: 36px;
  }
}
