@mixin button-box-shadow($color) {
  box-shadow: 0 0 0 3px rgba($color, .5);
}

@mixin button-variant($color, $background, $border: $background) {
  $active-background: darken($background, 5%);
  $active-border: darken($border, 8%);

  color: $color;
  background-color: $background;
  border-color: $border;

  // Hover and focus styles are shared
  &:hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @include button-box-shadow($border);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $border;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: darken($active-background, 3%);
    background-image: none; // Remove the gradient for the pressed/active state
    border-color: $active-border;
  }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;

  &:hover {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }
}

@mixin button-text($color, $event: darken($color, 10%)) {
  background: none;
  color: $color;

  &:hover,
  &:focus {
    color: $color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @include button-box-shadow($color);
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
