.preloaderButton {
  position: relative;

  .preloader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


.preloaderButton--loading {
  .preloaderButton__children {
    visibility: hidden;
  }
}

